log/
trading_log/
Optimization/
Exmo API c#/
ExmoAsIndicator/
Keras-CNTK-GPU/
Временные ряды/
отчёты и сгенерированные диаграммы/
work_folder/
MyAlgorithmOptimization/
GeneticAlgorithmOptimization/
Python36/
trading_log/
Экспертная система BU/